@inherits FluxorComponent
@inject IState<GameState> GameState
@inject IDispatcher Dispatcher

<section class="card" style="@CssStyle">
    <div class="card-header d-flex justify-content-between align-items-center">
        <b>Cards Against Whatever!</b>
        <button type="button" class="btn btn-sm btn-danger">Leave</button>
    </div>
    <div class="card-body">
        <p>Game Code: <b>@GameState.Value.GameCode</b></p>
        <p>Username: <b>@GameState.Value.Username</b></p>
        <p>
            <hr>
        </p>
        <p>Round: <b>@GameState.Value.CurrentRoundNumber</b></p>
        <p>Card Czar: <b>@GameState.Value.CurrentCardCzar?.Username</b></p>
        <p>
            <hr>
        </p>
    </div>
    <div class="card-footer bg-white">
        <MainActionButton />
    </div>
</section>

@code {
    [Parameter]
    public string CssStyle { get; set; } = string.Empty;

}
