@using System.IO
@using System.Globalization
@using CsvHelper
@using CsvHelper.Configuration
@using System.ComponentModel.DataAnnotations
@using CardsAgainstWhatever.Shared.Dtos.Actions
@using CardsAgainstWhatever.Shared.Dtos.Events
@inherits FluxorComponent
@inject HttpClient HttpClient
@inject IDispatcher Dispatcher


<EditForm Model="@CreateModel" OnValidSubmit="@HandleValidSubmit">
    <h3>Create Game</h3>

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="card-pack-file" class="col-form-label">Card Pack</label>
        <div class="custom-file">
            <InputFile OnChange="OnCardsFileSelection" class="custom-file-input" accept=".csv" />
            <label class="custom-file-label" for="inputGroupFile01">
                @(CreateModel.FileName ?? "Choose file")
                @if (IsLoading)
                {
                    <span class="spinner-border spinner-border-sm ml-1" role="status" aria-hidden="true"></span>
                }
            </label>
        </div>
        @if (CreateModel.Questions.Any() || CreateModel.Answers.Any())
        {
            <label class="col-form-label">
                @CreateModel.Questions.Count question @(@CreateModel.Questions.Count == 1 ? "card" : "cards") found.
                @CreateModel.Answers.Count answer @(@CreateModel.Answers.Count == 1 ? "card" : "cards") found.
            </label>
        }
    </div>

    <div class="form-group">
        <label for="create-username-text" class="col-form-label">Username</label>
        <InputText @bind-Value="CreateModel.Username" class="form-control" id="create-username-text" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>


@code {
    bool IsLoading { get; set; } = false;

    private class CreateForm
    {
        [Required]
        [StringLength(10, ErrorMessage = "Name is too long.")]
        public string? Username { get; set; }

        public string? FileName { get; set; }

        public List<QuestionCard> Questions = new();

        public List<AnswerCard> Answers = new();
    }

    CreateForm CreateModel = new CreateForm();

    async Task OnCardsFileSelection(InputFileChangeEventArgs e)
    {
        IsLoading = true;

        var config = new CsvConfiguration(CultureInfo.InvariantCulture)
        {
            HasHeaderRecord = true,
            PrepareHeaderForMatch = args => args.Header.ToLower(),
        };

        using var csvReader = new CsvReader(
        new StreamReader(e.File.OpenReadStream()), config);

        await foreach (var card in csvReader.GetRecordsAsync<Card>())
        {
            if (card.Type == CardType.Question)
            {
                CreateModel.Questions.Add(new QuestionCard(card.Text, card.Pick ?? 1));
            }
            if (card.Type == CardType.Answer)
            {
                CreateModel.Answers.Add(new AnswerCard(card.Text));
            }
        }
        CreateModel.FileName = e.File.Name;
        IsLoading = false;
    }

    private async Task HandleValidSubmit()
    {

        var response = await HttpClient.PostAsJsonAsync("api/game", new CreateGameAction(CreateModel.Questions, CreateModel.Answers));

        if (!response.IsSuccessStatusCode)
        {
            Dispatcher.Dispatch(new GameJoinedFailedEvent("Failed to create a new game."));
            return;
        }

        var content = await response.Content.ReadFromJsonAsync<GameCreatedEvent>();

        Dispatcher.Dispatch(new CardsAgainstWhatever.Client.Stores.Game.JoinGameAction(content!.GameCode, CreateModel.Username!));
    }

    enum CardType { Question, Answer };
    record Card(string Text, CardType Type, int? Pick);

}
